# Arquivos ignorados padrão
/shelf/
/workspace.xml
# Pasta padrão ignorada com arquivos de consulta
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Requisições de cliente HTTP baseadas no editor
/httpRequests/
